<h1>Import a new experiment</h1>

<%= form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being created:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4 %>
  </div>
  <p>Select either a file or folder already present on the server <strong>or</strong> select a ZIP file which will be uploaded to the server. Picture files have to be present already on the server, they cannot be uploaded.</p>
  <div class="field">
    <%= label_tag :import_file, 'Select ZIP file or folder containing the data (present on the server in the import directory)' %><br />
    <%= select_tag :import_file, options_for_select(@import_files.map{ |x| [x,x] }), :size => 5, :prompt => '[None]' %>
  </div>
  <div class="field">
    <%= label_tag :upload_file, 'Select ZIP file containing the data (which will be uploaded to the server)' %><br />
    <%= file_field_tag :upload_file %>
  </div>
  <div class="field">
    <%= label_tag 'picture_paths[]', 'Select the folders containing the pictures (present on the server in the public/experiments directory) (Press Ctrl or Shift to select multiple directories.)' %><br />
    <%= select_tag 'picture_paths[]', options_for_select(@picture_paths.map{ |x| [x,x] }), :size => 5, :multiple => :true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', experiments_path %>