<h2>Image <%=h @image.ord %> of experiment "<%=h @image.experiment.name %>"</h2>

<%= form_tag(goto_images_url, :method => :get, :id => 'image_selector_form') do %>
  <%= select_tag 'id', options_for_select(@image.experiment.images.collect {|i| ["Image #{i.ord}", i.id]}, @image.id) %>
  <%= submit_tag 'Go', :name => nil %>
<% end %>

<p><%=image_tag '/experiments/' + @image.pictures.first.filename, :id => 'picture', :width => @image.width, :height => @image.height %></p>

<script>
  var cells = <%=@image.cells.to_json.html_safe %>;
  var lastChosenCell = 0;
</script>

<p><%=link_to 'Back to experiment', experiment_url(@image.experiment.id) %></p>